.Home-Page{
   position: relative;
   display: grid;
   grid-template-columns: 18rem auto 20rem ;
    gap: 1rem;
    padding:10px
}

.divOne{
    border: solid 1px black;
    height: 100vh;
   
}
.divOne .a{
    border: solid 1px black;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.addPic{

    height: 20vh;
    width: 150px;
    border:solid green 1px;
    border-radius: 140%;
    
}
.divTwo{
    border: solid 1px black;
}
.divThree{
    border: solid 1px black;
}